<nav class="nav-bar">
    <div class="left-side">
        <button class="sing-in-btn">ورود/ثبت نام</button>
        <img src="assets/icons/search-icon.svg" alt="آیکون جستجو" class="search-btn icon">
        <div class="pages">
            <a class="page-link">خانه</a>
            <a class="page-link">قطعات</a>
            <a class="page-link">معرفی</a>
            <a class="page-link">تماس باما</a>
        </div>
        <div class="lab-name">
            <h3>آزمایشگاه صنعت 4</h3>
            <img src="assets/logos/iut-logo.svg" alt="لوگو آزمایشگاه" class="logo icon">
        </div>
    </div>
</nav>