.bg-img {
    height: fit-content;
    background-image: url('../../../../public/assets/images/landing-bg2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.descriptions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20vh;
    height: fit-content;
}

.description {
    padding: 1.5rem;
    width: 40rem;
    height: 50rem;
    text-align: center;
}

.title {
    font-size: 3rem;
    color: white;
}

.text {
    padding-top: 1rem;
    line-height: 3.5rem;
    font-size: 2rem;
    color: white;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}

.option {
    width: 50vw;
    height: 25vh;
    max-height: 30rem;
    min-height: 10rem;
    margin-top: 12rem;
    clip-path: polygon(0 0, 65% 0, 100% 98%, 0 100%);
    z-index: -1;
    filter: blur(3px);
}

.option-2 {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 38% 100%);
}

@media screen and (max-width: 900px) {
    .options{ flex-direction: column; }
    .option {  width: 95vw;}
}


.icon { width: 10rem; height: 10rem;}
.census {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.cens {
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    border: 3px solid #016391;
    color: #016391;
    margin: 1rem;
}

.cens-number {
    font-size: 6.4rem;
}

.cens-title {
    font-size: 4rem;
    color: #5A5A5A;
}

.colleagues {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 15rem;
}

.colleague {
    width: 22rem;
    height: 22rem;
    border-radius: 3rem;
    background: linear-gradient(180deg, rgba(164,164,164,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-self: center;
    box-shadow: 5px 5px 10px hsla(0, 0%, 53%, 0.45);
}

.clg-icon {
    width: 16.4rem;
}

.footer {
    height: 50vh;
    /* background: linear-gradient(180deg, rgba(0,24,26,1) 19%, rgba(1,42,57,1) 54%, rgba(1,65,94,1) 79%, rgba(1,99,145,1) 100%); */
    background: rgb(0,13,54);
    background: linear-gradient(180deg, rgba(0,13,54,1) 19%, rgba(0,19,79,1) 54%, rgba(0,28,117,1) 79%, rgba(0,43,180,1) 100%);
    box-shadow: 0px -20px 20px #000d36;
}

@media screen and (max-width: 500px) {
    .colleague { width: 15rem; height: 15rem;}
    .clg-icon { width: 12rem;}
    .cens { width: 15rem; height: 20rem; }
    .cens-title { font-size: 3rem;}
    .cens-number { font-size: 4rem;}
    .icon{ width: 7rem; height: 7rem;}
}