<app-image-slider></app-image-slider>
<div class="bg-img">
    <div class="descriptions">
        <div class="description">
            <h2 class="title">صنعت 4 کجاست؟</h2>
            <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، </p>
        </div>
        <div class="description">
            <h2 class="title">صنعت 4 کجاست؟</h2>
            <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، </p>
        </div>
        <div class="description">
            <h2 class="title">صنعت 4 کجاست؟</h2>
            <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، </p>
        </div>
    </div>
</div>
<div class="white-space">
    <div class="options">
        <img src="assets/images/lab-option-bg.png" alt="" class="option option-1">
        <img src="assets/images/tool-option-bg.png" alt="" class="option option-2">
    </div>
    <div class="census">
        <div class="cens">
            <img src="assets/icons/ghete-icon.svg" alt="آیکون قطعه" class="icon">
            <p class="cens-number">+50</p>
            <p class="cens-title">تعداد قطعات</p>
        </div>
        <div class="cens">
            <img src="assets/icons/ghete-icon.svg" alt="آیکون قطعه" class="icon">
            <p class="cens-number">+50</p>
            <p class="cens-title">تعداد قطعات</p>
        </div>
        <div class="cens">
            <img src="assets/icons/ghete-icon.svg" alt="آیکون قطعه" class="icon">
            <p class="cens-number">+50</p>
            <p class="cens-title">تعداد قطعات</p>
        </div>
        <div class="cens">
            <img src="assets/icons/ghete-icon.svg" alt="آیکون قطعه" class="icon">
            <p class="cens-number">+50</p>
            <p class="cens-title">تعداد قطعات</p>
        </div>
    </div>
</div>

<div class="bg-img">
    <p class="" style="font-size: 4.8rem; align-self: center; color: white; margin-top:5rem;">شرکت های همکار</p>
    <div class="colleagues">
        <div class="colleague">
            <img src="assets/logos/foolad-logo.svg" alt="لوگو شرکت فولاد مبارکه" class="clg-icon">
        </div>
        <div class="colleague">
            <img src="assets/logos/iut-logo.svg" alt="لوگو دانشگاه صنعتی اصفهان" class="clg-icon">
        </div>
    </div>
</div>

<footer class="footer">

</footer>