.bg-img {
    height: fit-content;
    background-image: url('/assets/images/landing-bg.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.descriptions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20vh;
    height: fit-content;
}

.description {
    padding: 1.5rem;
    width: 40rem;
    height: 50rem;
    text-align: center;
}

.title {
    font-size: 3rem;
    color: white;
}

.text {
    padding-top: 1rem;
    line-height: 3.5rem;
    font-size: 2rem;
    color: white;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}

.option {
    width: 50vw;
    height: 25vh;
    max-height: 30rem;
    min-height: 10rem;
    margin-top: 12rem;
    clip-path: polygon(0 0, 65% 0, 100% 98%, 0 100%);
    z-index: -1;
    filter: blur(3px);
}

.option-2 {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 38% 100%);
}

@media screen and (max-width: 900px) {
    .options{ flex-direction: column; }
    .option {  width: 95vw;}
}

.icon { width: 10rem; height: 10rem;}
.census {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15rem;
}

.cens {
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    border: 3px solid #016391;
    color: #016391;
    margin: 1rem;
}

.cens-number {
    font-size: 6.4rem;
}

.cens-title {
    font-size: 4rem;
    color: #5A5A5A;
}