.slider {
    width: clac(100vw - 1rem);
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.slide {
    width: 90%;
    height: 95%;
    background-color: black;
    position: relative;
    border-radius: 2rem;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: contain;
}

.description {
    position: absolute;
    bottom: 0;
    background-color: hsla(194, 97%, 13%, 0.75);
    color: white;
    font-size: 3.2rem;
    width: 100%;
    direction: rtl;
    padding: 1rem;
    border-radius: 2rem;
}

.change-img {
    position: absolute;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    clip-path: polygon(70% 0, 23% 49%, 70% 100%, 35% 100%, 0% 50%, 35% 0);
    background-color: #02A9F7;
    transition: clip-path 0.3s;
    z-index: 200;
}

.change-img:hover {
    position: absolute;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    background-color: #02A9F7;
    clip-path: polygon(85% 0, 23% 49%, 85% 100%, 35% 100%, 0% 50%, 35% 0);
}

.prev-img{ 
    left: 0rem;
}
.next-img {
    right: 0rem;
    rotate: 180deg;
}


/* @media screen and (max-width: 700px) and (max-height: 700px) {
    .slide{ width: 95%; height: 100%;}
    .slider{ height: 200vh; }
} */
@media screen and (max-height: 950px) and (max-width: 700px) {
    .change-img{ display: none;}
    .slide{ width: 95%; height: 90%;}
    .description{ font-size: 1.8rem;}
    .slider{ width: 100vw; height: 40vh;}
}
